div h1{
    margin-left: 1.5%;
}

#group-container {
    margin-top: 10%;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

table{
    width: 100%;
}

@media (max-width: 800px) {
    
    #group-container {
        margin-top: 15%;
    }

    table {
        width: 90%;
        height: 100%;
        margin-left: auto; 
        margin-right: 7.5%;
    }
    
    div h1{
        margin-left: 5%;
    }
}